.Env {
    margin: 3px;
    padding: 3px;
}

.OutageInfo {
    text-align: left;
    margin: 0px 20px 0px 20px;
}

.Check {
    background-color: rgb(98, 153, 185);
    max-width: fit-content;
    margin: 10px;
    text-align: left;
    vertical-align: top;
}

.CheckHeader {
    padding: 3px;
}

.CheckHeader span {
    padding-left: 15px;
}

.Btn {
    margin: 5px;
    padding: 3px;
    background-color: #475c79;
    text-decoration: none;
    font-size: medium;
    color: antiquewhite;
}

.Btn:hover {
    color: green;
    cursor: pointer;
}

.CheckDetails {
    margin-left: 5px;
}

.CheckDetails span {
    margin: 10px 10px;
}

.OutageForm {
    display: inline-block;
}